<!DOCTYPE html>
<html>
  <head>
    <title>Pigglecraft</title>
    <%= stylesheet_link_tag    'purecss', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="pure-g leftalign">
        <div class="pure-u-4-5 pink">
          <%= image_tag 'header.png' %>
        </div>
        <div class="pure-u-1-5 pink">
          <% if user_signed_in? %>
            <%= link_to current_user.email, main_app.edit_user_registration_path %>
            | <%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %>
          <% if current_user.forem_admin %>
            | <%= link_to "Administrate", forem.admin_root_url %>
        <% end %>
      <% else %>
        <%= link_to "Sign up", main_app.new_user_registration_path %>
        | <%= link_to "Sign in", main_app.new_user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
        </div>
        <div class="pure-u-1">
          <div class="header">
            <div class="pure-menu pure-menu-open pure-menu-horizontal">
              <ul>
                <li class="pure-menu-selected"><a href="/">Home</a></li>
                <li><a href="/forums">Forum</a></li>
                <li><a href="#">Report Abuse</a></li>
                <li><a href="#">Donate</a></li>
                <li><a href="#">Apply for Stuff</a></li>
                <li><a href="#">About Pigglecraft</a></li>
                <li><a href="#">Suggestions?</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pure-u-1">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
